[submodule "modoule3/BaseERC20/lib/forge-std"]
	path = modoule3/BaseERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule3/BaseERC20/lib/openzeppelin-contracts"]
	path = modoule3/BaseERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule3/ERC20Faucet/lib/forge-std"]
	path = modoule3/ERC20Faucet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "modoule3/ERC20Faucet/lib/openzeppelin-contracts"]
	path = modoule3/ERC20Faucet/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule3/airdrop/lib/forge-std"]
	path = modoule3/airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "templateProgram/lib/forge-std"]
	path = templateProgram/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "templateProgram/lib/openzeppelin-contracts"]
	path = templateProgram/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule3/airdrop/lib/openzeppelin-contracts"]
	path = modoule3/airdrop/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule3/BaseERC721/lib/forge-std"]
	path = modoule3/BaseERC721/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "modoule3/BaseERC721/lib/openzeppelin-contracts"]
	path = modoule3/BaseERC721/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule3/NFTMarket/lib/forge-std"]
	path = modoule3/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "modoule3/NFTMarket/lib/openzeppelin-contracts"]
	path = modoule3/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule4/TokenBank/lib/forge-std"]
	path = modoule4/TokenBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "modoule4/TokenBank/lib/openzeppelin-contracts"]
	path = modoule4/TokenBank/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modoule5/UUPS/lib/openzeppelin-contracts"]
	path = modoule5/UUPS/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
